<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default" ng-click="redirect('/postedit')">New Post</button>

  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Sort
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#" ng-click="getPosts('popularity')">Popularity</a></li>
      <li><a href="#" ng-click="getPosts('title')">Title</a></li>
      <li><a href="#" ng-click="getPosts('created')">Date Created</a></li>
    </ul>
  </div>
</div>

<div ng-repeat="p in posts" class="post-preview">
  <a href="/post/{{p._id}}">
    <h2 class="post-title">{{p.title}}</h2>
    <h3 class="post-subtitle">{{p.subtitle}}</h3>
  </a>
  <a ng-repeat="t in p.tags" href="/tags/{{t}}">
    <span class="label label-default post-tag">{{t}}</span>
  </a>
  <p class="post-meta">Posted by <a href="#">{{p.createdby}}</a> on {{p.created | date:'fullDate'}}</p>
  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default" ng-click="vote(p._id, -1)">
    <span class="glyphicon glyphicon-thumbs-down"></span>&nbsp;
  </button>
    <button type="button" class="btn btn-default" ng-click="vote(p._id, 1)">
  <span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;
  </button>
  </div>
  <div ng-if="owned(p.createdby)" class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default" ng-click="redirect('/postedit/' + p._id)">Edit</button>
    </button>
  </div>
  <hr/>
</div>

<!-- Pager -->
<ul class="pager">
  <li class="next">
    <a href="#" ng-confirm-click="This button current does not do anything, paging would need to be implemented first,">Older Posts &rarr;</a>
  </li>
</ul>
